/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.btn {
    padding: 13px 30px;
    border: none;
    background: #000;
    -webkit-transition: .1s;
    -o-transition: .1s;
    transition: .1s;

    font-family: Gilroy Regular, serif;
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    text-align: center;

    outline: none;
    cursor: pointer;
    color: #FFFFFF;
}

.btn:active {
    background: #262626;
}

.btn.red {
    background: #EB204E;
}

.btn.red:active {
    background: #D21D46;
}

.search-box {
    width: 317px;
    height: 43px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: 1px solid #383838;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.search-box:hover {
    border: 1px solid #000000;
}

.search-box:focus-within .search-btn svg {
    fill: #EB204E;
}

.search-box .query {
    font-family: Gilroy Regular, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.search-box .query input {
    border: none;
    margin: 0;
    outline: none;
    width: 100%;
    height: 100%;
    padding: 0 0 0 20px;

    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */ /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */

}

.search-box .search-btn {
    position: relative;
    width: 46px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
}

.search-box .search-btn svg {
    fill: #383838;
}

.search-box .search-btn .vl {
    position: absolute;
    height: 33px;
    width: 1px;
    left: 0;
    background: black;
}

.select {
    position: relative;
    width: 345px;

    font-family: "Gilroy Regular", serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;

    color: #9F9F9F;
    border: 1px solid #383838;
    background: #ffffff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.select * {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.select hr {
    background: #000000;
    border: .5px solid black;
    width: 98%;
    margin: 0 auto;
}

.select__body {
    display: none;
    position: absolute;
    background: inherit;
    width: 100%;
    z-index: 9;
}

.select.is-active .select__body {
    display: block;
}

.select.is-active .select__header .select__icon svg {
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.select.is-active .select__header .select__icon svg path {
    fill: #EB204E;
}

.select__header {
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.select__current {
    font-size: 18px;
    line-height: 24px;
    max-width: 70%;
    padding: 5px 12px;

    overflow: hidden;
    white-space: nowrap;
}

.select__icon .vl {
    position: absolute;
    height: 25px;
    width: 1px;
    left: 0;
    background: black;
}

.select__icon {
    position: relative;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    width: 40px;
}

.select__icon svg {
    -webkit-transition: .1s;
    -o-transition: .1s;
    transition: .1s;
}

.select__item {
    cursor: pointer;
    font-size: 16px;
    line-height: 24px;
    padding: 8px;
}

.select__item:hover {
    background-color: #f2f2f2;
}

.list {
    margin: 10px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 83.5%;
    width: 95px;
    z-index: 2;
}

.list-btn {
    height: 37px;
    width: 95px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    padding-top: 5px;
    outline: none;
    background: none;
    border: 1px solid transparent;
}

.list-btn:hover {
    border: 1px solid black;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}

.list-btn.bg-shadow {
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.list .card {
    width: 95px;
    height: 66px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid transparent;
    margin-bottom: 28px;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}

.list .card.selected {
    background: #EFEFF2;
}

.list .card:last-child {
    margin-bottom: 0;
}

.list .card:hover {
    border: 1px solid black;
}

.list .card img {
    max-width: 60%;
    max-height: 60%;
}

.brand-rate-card {
    width: 537px;
    background: #F53B54;
    -webkit-box-shadow: 0 0 20px rgba(208, 25, 49, 0.7);
    box-shadow: 0 0 20px rgba(208, 25, 49, 0.7);

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

    padding: 22px 0;

}

.brand-rate-card .brand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 20px;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.brand-rate-card .brand .logo {
    width: 84px;
    height: 84px;

    background: #D01931;
    -webkit-box-shadow: 0 0 5px #B6152A;
    box-shadow: 0 0 5px #B6152A;

    border-radius: 50px;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.brand-rate-card .brand .logo img {
    max-height: 55%;
    max-width: 55%;
}

.brand-rate-card .brand .brand-info {
    margin-left: 20px;
}

.brand-rate-card .brand .brand-info .name {
    font-family: Gilroy Regular, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    /* identical to box height */


    color: #FFFFFF;
}

.brand-rate-card .brand .brand-info .rating .stars-number {
    font-family: Gilroy Regular, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #FFFFFF;
}

.brand-rate-card .brand .brand-info .rating .stars-number .info-icon,
.brand-rate-card .brand .brand-info .rating .stars-number .number {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.brand-rate-card .brand .brand-info .rating .stars-number .info-icon {
    margin-left: 10px;
}

.brand-rate-card .advantages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
}

.brand-rate-card .advantages .el .short {
    font-family: Gilroy Regular, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;
    text-align: center;

    margin-bottom: 5px;

    color: #FFFFFF;
}

.brand-rate-card .advantages .el .long {
    font-family: Gilroy Regular, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    color: #FFFFFF;
}

.brand-rate-card .advantages .el {
    width: 163px;
    height: 180px;
}

.brand-rate-card .advantages .el .picture {
    height: 106px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.comment {
    width: 335px;
    padding: 20px 20px 15px 20px;
    background: #FFFFFF;
    box-sizing: border-box;
}

.comment.border {
    border: 1px solid #383838;
}

.comment.bg-shadow {
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.comment .comment-header {
    font-family: Gilroy Regular, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;

    color: #383838;

    margin-bottom: 23px;
}

.comment .user {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 20px;
}

.comment .user .ava {
    width: 35px;
    height: 35px;
    margin-right: 20px;

}

.comment .user .user-info .name {
    font-family: Gilroy Regular, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: #383838;
}

.comment .user .user-info .comment-date {
    font-family: Gilroy Regular, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    color: #383838;
}

.comment .comment-full-link {
    font-family: Gilroy Regular, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
    border-bottom: 1.5px solid #383838;
    color: #383838;
}

.comment .comment-text {
    font-family: Gilroy Regular, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;

    color: #383838;

    margin-bottom: 5px;
}

.comment hr {
    -webkit-margin-before: 0;
    margin-block-start: 0;
    -webkit-margin-after: 0;
    margin-block-end: 0;
    -webkit-margin-start: 0;
    margin-inline-start: 0;
    -webkit-margin-end: 0;
    margin-inline-end: 0;
    overflow: hidden;
    border-width: .5px;
    border-color: #383838;
    background: #383838;

    margin: 23px 0 5px 0;
}

.foot {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.foot .group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.foot .el {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 15px;
}

.foot .el:last-child {
    margin-right: 0;
}

.foot .count {
    font-family: Gilroy Regular, serif;
    font-style: normal;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    margin-left: 5px;


    color: #383838;
}

.foot .forwards,
.foot .likes,
.foot .pdf,
.foot .comments,
.foot .views {
    cursor: pointer;
}

.foot .likes:hover,
.foot .likes:hover .count {
    -webkit-filter: drop-shadow(0px 0px 10px rgba(235, 32, 78, 0.25));
    filter: drop-shadow(0px 0px 10px rgba(235, 32, 78, 0.25));
}

.foot .likes:active svg path,
.foot .likes:active .count {
    fill: #EB204E;
    color: #EB204E;
}

.cross.active path {
    fill: #EB204E
}

.cookies {
    font-family: Gilroy Regular, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.link {
    text-decoration: none;
    border-bottom: 1.5px solid #EB204E;
    color: #EB204E;
    outline: none;

}

.link:active {
    color: #F26A88;
    border-color: #F26A88;
}

.user-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 150px;
}

.user-menu .ava {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.user-menu .name {
    margin-left: 20px;

    font-family: Gilroy Regular, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    color: #EB204E;
}

.user-menu .dropdown {
    margin-left: 20px;
    -webkit-transition: .1s;
    -o-transition: .1s;
    transition: .1s;
}

.user-menu .dropdown:hover path {
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    fill: #EB204E;
}

.user-menu .dropdown:active {
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.footer {
    /*margin: 20px;*/
    /*padding: 40px 0;*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;

    -webkit-box-pack: justify;

    -ms-flex-pack: justify;

    justify-content: space-between;
}

.footer .head {
    font-family: "Gilroy Regular", serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: right;

    color: #FFFFFF;

    margin-bottom: 9px;
}

.footer .brands {
    font-family: "Gilroy Regular", serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;

    color: #FFFFFF;

    margin-left: 41px;
}

.footer .brands .brands-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer .brands .brands-list li {
    margin-top: 20px;
}

.footer .brands .brands-list li.show-all {
    font-weight: bold;
    color: #FFFFFF;

    opacity: 0.8;
}

.footer a,
.footer a:visited {
    color: #FFFFFF;
    text-decoration: none;

    -webkit-transition: .1s;

    -o-transition: .1s;

    transition: .1s;

    font-family: "Gilroy Regular", serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 20px;

    border-bottom: 1.5px solid transparent;

}

.footer a:hover {
    border-bottom: 1.5px solid #FFFFFF;
}

.footer a:active {
    color: #EB204E;
    border-bottom: 1.5px solid #EB204E !important;
}

.footer .socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-right: 34px;
    margin-left: auto;
}

.footer .socials .icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.footer .socials .icons .icon {
    margin-right: 20px;
}

.footer .socials .icons .icon path {
    -webkit-transition: .1s;
    -o-transition: .1s;
    transition: .1s;
}

.footer .socials .icons .icon:hover path {
    fill: #EB204E;
}

.footer .socials .icons .icon:last-child {
    margin-right: 0;
}

.footer .socials .lk {
    margin-top: 25px;
}

.application {
    margin: 50px;
    width: 470px;
    height: 303px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    background: #FFFFFF;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.application input {
    font-family: "Gilroy Regular", serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;

    width: 91%;
    height: 35px;
    margin-bottom: 20px;
    padding: 8px 12px;

    background: #FFFFFF;
    border: 1px solid #383838;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}