/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/
body {
    padding: 0;
    margin: 0;
}

header {
    width: 100%;
    border-bottom: 1px solid #525252;
    margin: 0;
    padding: 0;
    position: fixed;
    z-index: 5;
    background: white;
}

.header {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 23px;
    width: 80%;
    max-width: 1600px;
}

.header .right .btn.mobile {
    display: none;
}

.header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    font-family: 'Gilroy Regular', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    text-transform: capitalize;

    color: #383838;
}

.header nav .navlink {
    margin-right: 40px;
    min-width: 50px;
}

.header .right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 40px;
}

.header .search-box {
    margin-right: 40px;
    width: 40%;
    max-width: 317px;
}

.front-block {
    padding-top: 93px;
    overflow: hidden;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-bottom: 60px;
    margin: 0;
}

.front-block .wrap {
    width: 80%;
    max-width: 1600px;

    position: relative;
}

.front-block .wrap .bg-img {
    position: absolute;
    right: 60px;
    z-index: -1;
}

.front-block .wrap .text {
    margin-top: 105px;
}

.front-block .wrap .text .title {
    font-family: "Gilroy Regular", serif;
    font-style: normal;
    font-weight: bold;
    font-size: 46px;
    line-height: 57px;
    max-width: 720px;
    min-height: 163px;
    color: #383838;
    margin-bottom: 40px;
}

.front-block .wrap .text .sub-title {
    font-family: "Gilroy Regular", serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    color: #000000;
    max-width: 720px;
}

.front-block .wrap .report {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    margin-top: 117px;
}

.front-block .wrap .report .arrow {
    margin-top: 37px;
}

.actual-reports {
    background: #EDEEF3;
    padding: 20px 0;

    overflow: hidden;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.actual-reports .actual-reports-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 60px;
}

.actual-reports .title {
    font-family: "Gilroy Regular", serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    /* identical to box height */
    display: block;

    text-align: center;
    text-transform: uppercase;

    color: #383838;
}

.actual-reports aside button,
.actual-reports aside .list {
    background: #fff;
}

.actual-reports .comments-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
}

.actual-reports .comments-wrap .comments {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    -ms-grid-columns: 1fr 30px 1fr 30px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

.actual-reports .comments-wrap .left-arrow,
.actual-reports .comments-wrap .right-arrow {
    height: 100%;
    background: #FFFFFF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 14px;
    margin: 0 30px;

    border: 1px solid transparent;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}

.actual-reports .comments-wrap .left-arrow:hover,
.actual-reports .comments-wrap .right-arrow:hover {
    border: 1px solid black;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}

.actual-reports .comments-wrap .left-arrow svg {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.actual-reports .comments-wrap .right-arrow svg {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.actual-reports .show-all {
    font-family: "Gilroy Regular", serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    margin: 20px 0;
    color: #383838;
    text-decoration: none;

}

.actual-reports a,
.actual-reports a:visited,
.actual-reports a:active,
.actual-reports a:hover {

    text-decoration: none;
    color: #383838;

}

.actual-reports .show-all svg {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    margin-left: 5px;
    height: 12px;
    width: 12px;
}

.brands-rating {
    background: #383838;
    padding: 40px 0;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.brands-rating .title {
    font-family: "Gilroy Regular", serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    /* identical to box height */
    margin-bottom: 40px;

    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;
}

.brands-rating .brands-rating-wrap {
    max-width: 1600px;
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.brands-rating .brand-selects {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.brands-rating .brand-selects .select-wrap {
    margin-right: 30px;
}

.brands-rating .brand-selects .select-wrap:last-child {
    margin-right: 0;
}

.brands-rating .brands {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 20px;
}

.brands-rating .brands .item {
    background: #fff;
    padding: 13px 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 30px;
}

.brands-rating .brands .item .index {
    font-family: "Gilroy Regular", serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    /* identical to box height */

    text-align: center;
    text-transform: uppercase;

    color: #000000;
    margin-right: 40px;
}

.brands-rating .brands .item .extra-info {
    margin-left: auto;
    text-align: right;

    font-family: "Gilroy Regular", serif;
    font-style: normal;
    /* identical to box height */
    color: #383838;
}

.brands-rating .brands .item .extra-info .answers-solved {
    font-size: 16px;
    line-height: 19px;
}

.brands-rating .brands .item .extra-info .answers-solved .bold {
    font-weight: bold;
}

.brands-rating .brands .item .extra-info .sol-freq {
    font-size: 14px;
    line-height: 21.6px;
}

.brands-rating .brands .item .extra-info .sol-freq .bold {
    font-weight: bold;
    font-size: 18px;
}

.brands-rating .brand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 20px;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.brands-rating .brand .logo {
    width: 90px;
    height: 90px;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.brands-rating .brand .logo img {
    max-height: 75%;
    max-width: 75%;
}

.brands-rating .brand .brand-info {
    margin-left: 35px;
}

.brands-rating .brand .brand-info .name {
    font-family: "Gilroy Regular", serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    /* identical to box height */
    margin-bottom: 9px;

    color: #000000;
}

.brands-rating .brand .brand-info .rating {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.brands-rating .brand .brand-info .rating .stars {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.brands-rating .brand .brand-info .rating .stars svg {
    margin-right: 10px;
}

.brands-rating .brand .brand-info .rating .stars-number {
    font-family: Gilroy Regular, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #000000;
    margin-left: 10px;
}

.brands-rating .brand .brand-info .rating .stars-number .info-icon,
.brands-rating .brand .brand-info .rating .stars-number .number {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.brands-rating .brand .brand-info .rating .stars-number .info-icon {
    margin-left: 10px;
}

.brands-rating .brand .brand-info .rating .stars-number .info-icon path {
    fill: black;
}

.brands-rating a,
.brands-rating a:visited,
.brands-rating a:active,
.brands-rating a:hover {

    text-decoration: none;
    color: white;
}

.brands-rating .show-all {
    font-family: "Gilroy Regular", serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    color: #FFFFFF;
}

.brands-rating .show-all svg {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    margin-left: 10px;
    height: 12px;
    width: 12px;
}

.brands-rating .show-all svg path {
    fill: #FFFFFF;
}

.report-lifecycle {
    padding: 40px 0;
}

.report-lifecycle .title {
    font-family: Gilroy Regular, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    /* identical to box height */

    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;
    color: #383838;
}

.report-lifecycle .lifecycle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: center;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    max-width: 1600px;
    /*width: 80%;*/
    margin-left: auto;
    margin-right: auto;
    font-family: "Gilroy Regular", serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;

    color: #000000;
}

.report-lifecycle .lifecycle .cycle {
    margin: 50px;
    width: 180px;
}

.report-lifecycle .lifecycle .cycle-wrap {
    display: flex;
    justify-content: center;
    align-content: center;
}

.report-lifecycle .lifecycle .cycle,
.report-lifecycle .lifecycle .cycle .svgwrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.report-lifecycle .lifecycle .cycle .svgwrap {
    margin-bottom: 20px;
    width: 100%;
}

.connect-ad {
    background: #FAFAFD;
    font-family: "Gilroy Regular", serif;
    padding: 50px;
}

.connect-ad .wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;

    -webkit-box-align: center;

    -ms-flex-align: center;

    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1600px;
    width: 80%;
}

.connect-ad .text {
    margin-right: auto;
    z-index: 2;
}

.connect-ad .head {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;

    color: #000000;
    margin-bottom: 40px;
}

.connect-ad .subtext {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;

    color: #000000;

}

.connect-ad .btn {
    margin-left: auto;
    margin-right: auto;
    margin-top: 72px;
    z-index: 2;
}

.connect-ad .imgwrap {
    position: absolute;
    right: 0;
    bottom: -50px;
    z-index: 1;
}

.connect-ad .imgwrap img {
    max-width: 480px;
    max-height: 370px;
}

footer {
    /*height: 337px;*/
    background: #383838;
}

footer .wrap {
    margin: 0 auto;
    padding: 40px 0;
    max-width: 1600px;
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

}

@media screen and (max-width: 1440px) {
    .front-block .wrap .bg-img {
        position: absolute;
        right: 60px;
        z-index: -1;
        opacity: 0.4;
    }

    .connect-ad .imgwrap {
        opacity: 0.6;
    }

}

@media screen and (max-width: 1510px) {
    .actual-reports .comments-wrap .comments {
        display: -ms-grid;
        display: grid;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        grid-column-gap: 30px;
        grid-row-gap: 30px;
        -ms-grid-columns: 1fr 30px 1fr;
        grid-template-columns: 1fr 1fr;
    }

    .actual-reports .comments-wrap .list {
        height: 89.5%;
    }
}

@media screen and (max-width: 1100px) {
    .actual-reports .comments-wrap .comments {
        display: -ms-grid;
        display: grid;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        grid-column-gap: 30px;
        grid-row-gap: 30px;
        -ms-grid-columns: 1fr 30px;
        grid-template-columns: 1fr;
    }

    .actual-reports .comments-wrap .list {
        height: 89.5%;
    }
}

@media screen and (max-width: 1000px) {
    .adaptive-menu-btn{
        display: block !important;
    }

    .header .right nav {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        position: fixed;
        background: #EDEEF3;
        width: 100vw;
        left: 0;
        right: 0;
        top: 90px;
        padding: 0 10%;
        z-index: 2;

        border-bottom: 1px solid black;

        visibility: hidden;
    }

    .header .right nav .navlink {
        margin: 0;
        padding: 13px;
    }

    .header .right .search-box {
        height: 46px;
        width: 46px;
    }

    .header .right .search-box .query,
    .header .right .search-box .vl,
    .header .right .btn {
        display: none;
    }

    .header .right .btn.mobile {
        display: block;
        padding: 0;
        margin: 0;
        background: none;
        color: black;
        font-weight: 600;
    }
}

@media screen and (max-width: 900px) {
    .actual-reports .actual-reports-wrap {
        flex-direction: column;
        width: 100%;
    }

    .actual-reports .comments-wrap {
        flex-direction: column;
    }

    .actual-reports .comments-wrap aside {
        width: 100%;
        margin-bottom: 20px;
    }

    .actual-reports .comments-wrap aside,
    .actual-reports .comments-wrap aside .list {
        display: flex;
        margin: 0;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .actual-reports .comments-wrap aside .list .card {
        margin: 0;
    }

    .actual-reports .comments-wrap aside .list-btn.up svg,
    .actual-reports .comments-wrap aside .list-btn.down svg {
        transform: rotate(-90deg);
    }

    .actual-reports .comments-wrap aside .list-btn.up,
    .actual-reports .comments-wrap aside .list-btn.down {
        display: none;
        width: 50px;
        height: 70px;
        margin: 0 10px;
    }

    .actual-reports .comments-wrap .left-arrow,
    .actual-reports .comments-wrap .right-arrow {
        height: 30px;
        margin: 30px 0;
    }

    .actual-reports .comments-wrap .left-arrow svg {
        transform: rotate(1deg);
    }

    .actual-reports .comments-wrap .right-arrow svg {
        transform: rotate(-180deg);

    }

    .actual-reports .actual-reports-wrap .comments .comment {
        width: 100%;
    }

    .brands-rating .brand-selects {
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .brands-rating .brand-selects .select-wrap {
        margin: 0 0 20px 0;
    }

    .brands-rating .brands-rating-wrap {
        /*width: 100%;*/
    }

    .brands-rating .brands .item .index,
    .brands-rating .brands .item .logo {
        display: none;
    }

    .brands-rating .brands .item .brand {
        padding: 0;
    }

    .brands-rating .brands .item {
        padding: 20px 15px 15px 20px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .brands-rating .brands .item .brand-info {
        margin: 0;
    }

    .brands-rating .brands .item .brand-info .name {
        margin-bottom: 5px;
    }

    .brands-rating .brands .item .extra-info {
        margin: 20px 0 0 0;
        align-items: flex-start;
        text-align: left;
    }

    .brands-rating .brands .item .extra-info .answers-solved {
        margin-bottom: 10px;
    }

    .brands-rating .brands-rating-wrap .brand-selects,
    .brands-rating .brands-rating-wrap .brand-selects .select-wrap,
    .brands-rating .brands-rating-wrap .brand-selects .select {
        width: 100%;
    }

    .connect-ad .wrap {
        margin: 0;
        width: 100%;
    }

    footer .wrap {
        flex-direction: column-reverse;
    }

    footer .brands {
        display: none;
    }

    footer .logo {
        height: unset;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    footer .footer .socials {
        margin-left: auto;
        margin-right: auto;
        justify-content: center !important;
        align-items: center !important;
    }
}

@media screen and (max-width: 550px) {
    .report-lifecycle .lifecycle .cycle-wrap {
        flex-direction: column;
    }
}

.adaptive-menu-btn {
    display: none;
    background: none;
    border: none;
    height: 45px;
    width: 45px;
    position: absolute;
    right: 15px;
}

.adaptive-menu-btn img {
    max-width: 100%;
    max-height: 100%;
}

.shown {
    visibility: visible !important;
}